/*
 * This is a manifest file that'll be compiled into maps.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require theme.blue.css
 */
@import "bootstrap"; /* http://twitter.github.io/bootstrap/base-css.html */
$inputWidth: 25px;

#inputbox {
	width: $inputWidth;
}

.listTable {
  @extend .table;
	@extend .table-striped;
	@extend .table-bordered;
  @extend .table-hover;
  @extend .table-condensed;
}

.showTable {
	@extend .table-striped;
	@extend .table-bordered;
	@extend .table-hover;
}

.latlong {
	@extend .input-small;
}

.number {
	@extend .input-mini;
}

.smallRow {
	width: 1em;
}


.typeSelect {
	@extend .input-medium;
}

.purr { /*purr is 'best in place' error messages*/
  position: fixed;
  top: 30px;
  right: 100px;
  width: 10em;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #666;
  &:first-letter { text-transform: uppercase };
}


