/*
 * This is a manifest file that'll be compiled into maps.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require leaflet.css
 */


@import "bootstrap"; /* http://twitter.github.io/bootstrap/base-css.html */
$barColor: #708090;

html, body { 
	height:100%; 
	margin: 0; 
	padding: 0; 
	overflow: hidden; 
}

div {
	margin: 0; 
	padding: 0;  
}

#divClear {
	clear: both;
}

#divMap {
	float: left;
	width: 75%;	
	background-color: #fff;
}

header {
  background-color: $barColor;
  width: 100%;
	height: 100px;
}

footer {
  background-color: $barColor;
  width: 100%;
  height: 50px;
}

aside {
	float: right;
	width: 25%;	
	background-color: #C0C0C0;
	overflow-y: auto;
}

#divRightBody {
	font-size: 10pt;
}
