<aside id="divRight">
	<div id="divRightHeader">
		Planned Route: <input type="button" value="Clear" onclick="clearRoute()">
	</div>
	<div id="divRightBody">
		stuff
		<%= debug(params) if Rails.env.development? %>
	</div>
</aside>
