<header>
  Highpointers of Odin: Map Man<br>
  <form name='formHeader'>
  Show Point: 
  <input type="button" value="Add" onclick="addPoint(0)">
  <input type="button" value="Add and Jump" onclick="addPoint(1)">
  <input type='text' name='latLongValue' style='width:12em' value=''>
  <br>
  <input type="button" value="Link" onclick="getLink()">
  <input type='text' name='linkBox' style='width:75em' value=''>
  </form>
  
</header>
