<!DOCTYPE html>
<html>
<head>	
	<title>All PoiTypes</title>
	<%= javascript_include_tag "lists" %>
	<%= stylesheet_link_tag "lists", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
